vti_encoding:SR|utf8-nl
vti_author:SR|PTO1212\\usuario_local
vti_modifiedby:SR|PTO1212\\usuario_local
vti_timelastmodified:TR|27 Mar 2007 17:16:07 -0000
vti_timecreated:TR|27 Mar 2007 17:16:07 -0000
vti_cacheddtm:TX|27 Mar 2007 17:16:07 -0000
vti_filesize:IR|10901
vti_cachedlinkinfo:VX|S|arcglobl.gif S|arctile.jpg S|bluedot.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/arcs/arcglobl.gif FSUS|_themes/arcs/arctile.jpg FSUS|_themes/arcs/bluedot.gif
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{7B76F453-9E13-45ED-8CAC-D994E852C670}
vti_backlinkinfo:VX|
